## Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates
[Pp]ackages/
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
**/[Tt]est[Rr]esult*/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/
ScaffoldingReadMe.txt

## Rider
.idea/

## VS Code
.vscode/

## NuGet
*.nupkg
*.snupkg
